body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #f7f7f7;
}

.top-bar {
    padding: 15px;
    background: white;
}

.status {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #333;
}

h2 {
    margin-top: 10px;
}

.search-container {
    display: flex;
    gap: 8px;
    padding: 10px;
}

.search-container input {
    flex: 1;
    border-radius: 10px;
    padding: 12px;
    border: 1px solid #ccc;
}

.filter-btn {
    border: none;
    background: #e4e4e4;
    padding: 12px;
    border-radius: 10px;
}

.add-product {
    width: 90%;
    margin: 10px auto;
    display: block;
    background: #37967D;
    padding: 12px;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    border: none;
}

.category {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    gap: 8px;
}

.category button {
    padding: 8px 14px;
    border-radius: 12px;
    border: none;
    background: #ececec;
    font-size: 13px;
}

.category button.active {
    background: #37967D;
    color: white;
}

.product-grid {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.card {
    background: white;
    padding: 10px;
    border-radius: 12px;
}

.card img {
    width: 100%;
    border-radius: 12px;
}

.card h4 {
    margin: 8px 0 4px;
}

.desc, .stock {
    font-size: 12px;
    color: gray;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.price {
    font-weight: bold;
}

.detail-btn {
    border: 1px solid #37967D;
    padding: 5px 8px;
    border-radius: 8px;
    font-size: 12px;
    background: transparent;
    color: #37967D;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: white;
    padding: 12px 0;
    border-top: 1px solid #ddd;
}

.bottom-nav div {
    text-align: center;
    font-size: 12px;
    color: gray;
}

.bottom-nav .active {
    color: #37967D;
}
